<header>
  <a
    aria-label="Página inicial"
    class="logo"
    routerLink="/lista-livros"
    routerLinkActive="active-page"
    ariaCurrentWhenActive="page"
  >
    <img src="assets/imagens/logo.png" alt="Logo da aplicação Buscante" />
  </a>
  <nav>
    <a
      aria-label="Mais informações sobre o Buscante"
      routerLink="/sobre"
      routerLinkActive="active-page"
      ariaCurrentWhenActive="page"
      >Sobre
    </a>
    <a
      aria-label="Entre em contato"
      routerLink="/contato"
      routerLinkActive="active-page"
      ariaCurrentWhenActive="page"
      >Contato
    </a>
  </nav>
</header>
